<!-- Header component -->
<ion-header
  [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Пресмятане на дози на лекарства
    </ion-title>

  </ion-toolbar>
</ion-header>

<!-- Main content -->
<ion-content id="main-content" [fullscreen]="true">

  <ion-grid>

    <ion-row>
      <ion-col size="9" style="
          margin-left: auto;
          margin-right: auto;
          ">
        <dc-patient-picker
          (onSelected)="processSelectPatientType($event)" style="
              display: flex;
              align-items: center;
              justify-content: center;
              max-width: 100%;
              padding: 10px;
              ">
        </dc-patient-picker>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Тегло
          </ion-label>
        </ion-col>

        <ion-col>
            <ion-input
            [counter]="true"
            [(ngModel)]="$formProperty.patientWeight"
            type="number"
            min="0" placeholder="0">
            </ion-input>
        </ion-col>

        <ion-col>
          <ion-select value="kilogram" [(ngModel)]="$formProperty.patientWeightUnit" fill="solid" (ionChange)="takePatientWeightUnit();">мерна единица
              <ion-select-option value="kilogram">килограмa</ion-select-option>
              <ion-select-option value="gram">грамa</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-label for="weight-input">Медикамент
          </ion-label>
        </ion-col>

        <ion-col>
          <ion-searchbar (ionInput)="onInput($event)"></ion-searchbar>
          <!-- <ion-input size="8"
            placeholder="Въведи медикамент"
            [(ngModel)]="$formProperty.SearchDrug"
            (ionInput)="onInput($event)">
          </ion-input> -->
          <!-- <div id="drugDropdown" [innerHTML]="dropdownContent"></div> -->
        </ion-col>
      </ion-row>
      <div>
        <ion-list>
          <ion-item *ngFor="let result of inputSuggestionCollection">
            <ion-label (click)="processDrugSelection(result)">{{ result?.title }}</ion-label>
          </ion-item>
        </ion-list>
      </div>

      <ion-row>

      </ion-row>

      <ion-row>
        <ion-col size="4"></ion-col>
        <ion-col size="8">
          <ion-button
            [disabled]="($formProperty.patientWeight === 0)"
            (click)="processCalculationDosage()"
            size="default"
            expand="block"
            style="
              font-size: 1rem;
              font-weight: 700;
              border-radius: 3px;">
              Изчисли
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>






  <ion-grid>
    <ion-row>
      <ion-col size="12">
        # Изчислени медикаменти:
      </ion-col>
    </ion-row>
    <ion-row>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">

        @for(element of inputSuggestionCollection; track element) {
          <!-- <dc-card
            [inputTitle]="element?.title"
            [object]="element"
            (onSelectCard)="processSelectedCard($event)">
          </dc-card> -->
        }

        @if(cardCollection.length > 0) {

          <div>
            <div style="font-weight: bold; font-size: 18px; margin-top: 16px;"># Предписани</div>
            <div></div>

            @for(element of cardCollection; track element) {
              <dc-card2
                [inputPatientModel]="$formProperty"
                [template]="'card'"
                [object]="element">
              </dc-card2>
            }
          </div>
        }

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
