<nv-info-modal
  [inputTitle]="'Информация'"
  class="ion-page">

  <div class="h1">
    {{selectedObject.title}}
  </div>

  <div class="mt5 flex bcn-lightblue italic fb600 gallery" (click)="onGalleryOpen()">
    <ion-icon class="mr8" name="camera-outline"></ion-icon>
    <div>Галерия</div>
  </div>

  @for(element of selectedObject.section; track element) {
    <div class="h3 mt16">{{element.sectionTitle}}</div>

    @for(sectionElement of element.content; track sectionElement) {
      <div class="mt5">{{sectionElement}}</div>
    }
  }

</nv-info-modal>
