<ion-grid>
  <ion-row (click)="processCard()">
    <ion-col size="1">
      <div [ngClass]="['card-img', convert(object?.animalType)]">
        <img [src]="imagePath" alt="image">
      </div>
    </ion-col>
    <ion-col size="11" style="display: flex; justify-content: space-between; align-items: center; padding: 0px 900px 0px 0px;">
      <div>{{inputPetName}}</div>
      <div style="font-weight: bold; font-size: 14px;">{{inputOwnerName}}</div>
      <div style="font-style: italic;">{{inputPetsDiseases}}</div>
    </ion-col>
  </ion-row>
</ion-grid>
