<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="indicators">
      <ion-icon size="small"  aria-hidden="true" name="bookmark-outline"></ion-icon>
      <ion-label>Показатели</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="teeth">
      <ion-icon size="small" aria-hidden="true" name="library-outline"></ion-icon>
      <ion-label>Зъби</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gender">
      <ion-icon size="small" aria-hidden="true" name="ear-outline"></ion-icon>
      <ion-label>Пол</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dispersal">
      <ion-icon size="small"  aria-hidden="true" name="library-outline"></ion-icon>
      <ion-label>Разгонване</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
