<!-- Header component -->
<ion-header
  [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Смесване на разтвори
    </ion-title>

    <ion-buttons slot="end" style="margin-right: 10px;">
      <ion-icon  (click)="clearAllValues()" name="trash-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- Main content -->
<ion-content id="main-content" [fullscreen]="true">

  <!-- ИНФУЗИЯ С ЛИДОКАИН -->
  <ion-grid>
    <ion-row style="border-bottom: solid #dedede 1px; padding-bottom: 8px; margin-top: 20px;">
      <div style="font-size: 18px; font-weight: bold; text-transform: uppercase;">
        🟥 Смесване на разтвори
      </div>
    </ion-row>
  </ion-grid>

  <ion-grid>


    <ion-row>
      <ion-col size="4">
        <div class="mt20 ml8">
          Концентрация на разтвор №1:
        </div>
      </ion-col>

      <ion-col size="8"  style="display: flex;">
        <ion-input
          [counter]="true"
          [(ngModel)]="$formProperty.solutionConcentrationFirst"
          type="number"
          aria-label="Custom input"
          class="custom"
          placeholder="мл"
          style="height: 44px;">
        </ion-input>
        <div style="width: 63px; margin-left: 10px; margin-top: 26px;">мл</div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="4">
        <div class="mt20 ml8">
          Концентрация на разтвор №2:
        </div>
      </ion-col>

      <ion-col size="8"  style="display: flex;">
        <ion-input
          [counter]="true"
          [(ngModel)]="$formProperty.solutionConcentrationSecond"
          type="number"
          aria-label="Custom input"
          class="custom"
          style="height: 44px;">
        </ion-input>

        <ion-radio-group value="custom-checked" style="margin-top: 14px;">
          <ion-radio value="custom" aria-label="percent" style="width: 70%; margin-left: 12px; min-width: 115px;">%</ion-radio>
          <ion-radio value="custom-checked" aria-label="mg-kg" style="width: 70%; margin-left: 12px; min-width: 115px;">мг/кг</ion-radio>
        </ion-radio-group>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="4">
        <div class="ml8">
          Концентрация на желания р-р:
        </div>
      </ion-col>

      <ion-col size="8"  class="flex">
        <ion-input
          [counter]="true"
          [(ngModel)]="$formProperty.solutionConcentrationWanted"
          type="number"
          aria-label="Custom input"
          class="custom"
          style="height: 44px;">
        </ion-input>

        <ion-radio-group value="custom-checked">
          <ion-radio value="custom" aria-label="percent" style="width: 70%; margin-left: 12px; min-width: 115px;">%</ion-radio>
          <ion-radio value="custom-checked" aria-label="mg-kg" style="width: 70%; margin-left: 12px; min-width: 115px;">мг/кг</ion-radio>
        </ion-radio-group>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="processCalculationMixingSolutions()"
          size="default"
          expand="block">Изчисли
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-row>
      <div class="ml8">
        Формула: Aq = V.(C1/C2 - 1)
      </div>
  </ion-row>

  <ion-row class="ml8">
    Добави: <div class="ml8 mr5 fb600">{{$ui.mustAddFirst}}</div> мл от разтвор №1.
  </ion-row>

  <ion-row class="ml8">
    И добави: <div class="ml8 mr5 fb600">{{$ui.mustAddSecond}}</div> мл от разтвор №2.
  </ion-row>

  <ion-row class="mt8">
    <ion-col>
      <div style="background-color: #f7810452; padding: 5px;">
        Ако желаният разтвор е с по-малка концентрация от двата налични разтвора, то се използва калкулатор "Разреждане на разтвор".
      </div>
    </ion-col>
  </ion-row>
</ion-content>
