<nv-info-modal
  [inputTitle]="'Инфо'"
  class="ion-page">

  <div style="font-size: 20px;font-weight: bold;">
    {{ selectedDrug.title }}
  </div>

  @for(element of selectedDrug.activeSubstance.split(','); track element) {

    <div class="pill-green mr-6">
      {{ element }}
    </div>
  }

  @for(element of selectedDrugApplicationCollection; track element) {

    <div class="component">

      <div
        class="component-header">
        {{ element.typeTitle }}
      </div>

      <ion-grid
        class="component-content">
        <ion-row>
          <ion-col>
            Доза
          </ion-col>
          <ion-col>
            {{ (element.activeSubstanceDose && element.activeSubstanceDose.length === 2)
              ? element.activeSubstanceDose.join('-')
              : element.activeSubstanceDose }} {{ element.activeSubstanceDoseDecorator | doceDecorator }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Приложение
          </ion-col>
          <ion-col>
            {{ element.applicationMethod }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  }

  @for(element of selectedDrug.links; track element) {

    <div class="large-button">

      <div style="margin-right: 10px;">
        <ion-icon size="large" name="document-text-outline"></ion-icon>
      </div>

      <div style="margin-top: 5px;" (click)="onOpenPdfDocument(element.link)">
        {{ element.title }}
      </div>
    </div>
  }

  <div style="margin-top: 16px;"></div>

  @if(selectedDrug.indications && selectedDrug.indications.length > 0) {

    <div>
      <div style="color: #30b67a; font-weight: bold; font-size: 18px; margin-top: 8px; margin-bottom: 8px;">
        Показания:
      </div>
      @for(element of selectedDrug.indications; track element) {
        <div>{{element}}</div>
      }

    </div>
  }

  @if(selectedDrug.contraindications && selectedDrug.contraindications.length > 0) {

    <div>
      <div style="color: #d60b52; font-weight: bold; font-size: 18px; margin-top: 8px; margin-bottom: 8px;">
        Противопоказания:
      </div>
      @for(element of selectedDrug.contraindications; track element) {
        <div>{{element}}</div>
      }
    </div>
  }

  @if(selectedDrug.drugInteractions && selectedDrug.drugInteractions.length > 0) {

    <div>
      <div style="color: #356cfe; font-weight: bold; font-size: 18px; margin-top: 8px; margin-bottom: 8px;">
        Взаимодействие с ВМП:
      </div>

      @for(element of selectedDrug.drugInteractions; track element) {
        <div>{{element}}</div>
      }
    </div>
  }

</nv-info-modal>
