.card-img {
  display       : inline-block;
  width         : 48px;
  height        : 48px;
  background    : #dedede;
  border-radius : 28px;
  text-align    : center;
}

.card-img img {
  margin-top: 6px;
}


.cat      { background-color: #356cfe;  }
.dog      { background-color: #85c15b;  }
