<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="growth">
      <ion-icon size="small"  aria-hidden="true" name="bookmark-outline"></ion-icon>
      <ion-label>Растеж</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="critical">
      <ion-icon size="small" aria-hidden="true" name="library-outline"></ion-icon>
      <ion-label>Състояния</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feeding">
      <ion-icon size="small" aria-hidden="true" name="ear-outline"></ion-icon>
      <ion-label>Хранене</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
