.pill {
  padding       : 3px 8px;
  margin        : 5px;
  border-radius : 4px;
}

.rabies-text {
  // background: #249ea066;
  padding: 4px;
  padding-left: 0;
  // border: solid 1px #249ea0;
}

#current-date, #validation-date {
  background: white;
  padding: 10px 10px 10px 0;
  font-size: 1.5rem;
  font-weight: 700;
  // border-left: solid 1px #249ea0;
  // border-right: solid 1px #249ea0;
}

#validation-date {
  // border-bottom: solid 1px #249ea0;
}
