.pill {
  padding       : 3px 8px;
  margin        : 5px;
  border-radius : 4px;
}

.rabies-text {
  padding: 4px;
  padding-left: 0;
}

#current-date, #validation-date {
  padding: 10px 10px 10px 0;
  font-size: 1.5rem;
  font-weight: 700;
}
