<nv-info-modal [inputTitle]="'Дехидратация'" class="ion-page">

  <ion-grid>
    <ion-row>
      Един от най-важните начини за оценка на дехидратацията е чрез проверката на тургора на кожата.
    </ion-row>

    <ion-row>
      <strong>Какво е кожен тургор?</strong>
    </ion-row>

    <ion-row>
      Тургорът на кожата представлява нейната еластичност и способност да се връща бързо в нормалното си състояние, след като е била разтегната или прищипана. Това е пряк показател за нивото на хидратация на организма. Когато животното е дехидратирано, кожата губи своята еластичност поради намаленото съдържание на вода в тъканите.
    </ion-row>

    <ion-row>
      За да проверите тургора на кожата, внимателно повдигнете свободна гънка кожа, обикновено на врата, гърба или рамото на животното, и след това я пуснете.
    </ion-row>

    <ion-row>
      <ul>
        <li>
            <strong>При нормален тургор</strong>: Кожната гънка се връща веднага на мястото си, без да оставя следа.
        </li>
        <li>
            <strong>При намален тургор</strong>: Кожната гънка се връща бавно или остава повдигната за известно време (секунди), което е признак за дехидратация.
        </li>
      </ul>
    </ion-row>

    <ion-row>
      <h2>Степени на дехидратация и свързани симптоми:</h2>
    </ion-row>

    <ion-row>
      <ion-col size="4"> под 5% </ion-col>

      <ion-col size="8">
        <div>Животното има повръщане, диария или друга загуба на течности.</div>
        <div>Лигавиците са нормални.</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4"> 5% (лека)</ion-col>

      <ion-col size="8">
        <div>Животното има повръщане, диария или друга загуба на течности.</div>
        <div>Лигавиците са сухи или леко лепкави.</div>
        <div>Леко намален кожен тургор – кожната гънка се връща бавно, но в рамките на 1-2 секунди.</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4"> 7% (умерена)</ion-col>

      <ion-col size="8">
        <div>Животното има повръщане, диария или друга загуба на течности.</div>
        <div>Лигавиците са сухи и лепкави.</div>
        <div>Ясно изразен намален кожен тургор – кожната гънка се връща бавно (2-4 секунди) и може да остане леко повдигната.</div>
        <div>Леко хлътнали очи.</div>
        <div>Ускорен пулс.</div>
        <div>Учестено дишане.</div>
        <div>Нормално кръвно налягане.</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4"> 10% (тежка)</ion-col>

      <ion-col size="8">
        <div>Животното има повръщане, диария или друга загуба на течности.</div>
        <div>Лигавиците са мнохо сухи и лепкави.</div>
        <div>Много силно намален кожен тургор – кожната гънка остава повдигната за продължителен период (повече от 4-5 секунди) или изобщо не се връща.</div>
        <div>Очевидно хлътнали очи.</div>
        <div>Ускорен или забавен пулс.</div>
        <div>Учестено дишане.</div>
        <div>Ниско кръвно налягане.</div>
        <div>Студени крайници.</div>
        <div>Намалена или липсваща урина.</div>
        <div>Признаци на шок.</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4"> 12% (критична)</ion-col>

      <ion-col size="8">
        <div>Животното има повръщане, диария или друга загуба на течности.</div>
        <div>Лигавиците са много сухи, бледи и лепкави.</div>
        <div>Изключително силно намален или липсващ кожен тургор.</div>
        <div>Силно хлътнали очи.</div>
        <div>Изключително слаб и учестен пулс.</div>
        <div>Много ниска телесна температура.</div>
        <div>Кома, шок, колапс.</div>
        <div>Спешна ветеринарномедицинска намеса!</div>
      </ion-col>
    </ion-row>

  </ion-grid>
</nv-info-modal>
