<nv-info-modal [inputTitle]="'Картон'" class="ion-page">

  <div class="medical_record">

    <div class="h1">
      Животно:
    </div>

    <div class="component">
      Име: {{ selectedObject.pet_name }}
    </div>

    <div class="component">
      Вид: {{ selectedObject.animalType }}
    </div>

    <div class="component">
      Пол: {{ selectedObject.sex }}
    </div>

    <div class="component">
      Порода: {{ selectedObject.breed }}
    </div>

    <div class="component">
      Възраст: {{ selectedObject.age }}
    </div>

    <div class="component">
      Кастрирано: {{ selectedObject.neutered }}
    </div>

    <div class="component">
      Микрочип: {{ selectedObject.microchip }}
    </div>

    <div class="component">
      Паспорт: {{ selectedObject.passport }}
    </div>

    <div class="component">
      Последна ваксина: {{ selectedObject.last_vaccination }}
    </div>



    <div class="h1">
      Собственик:
    </div>

    <div class="component">
      Име: {{ selectedObject.owner_name }}
    </div>

    <div class="component">
      Телефон: {{ selectedObject.telephone }}
    </div>

    <div class="component">
      Адрес: {{ selectedObject.address }}
    </div>

  </div>

  <div class="protocols">
    <div class="h1">Протоколи:</div>
    <div *ngFor="let protocol of patientProtocols">
      <button class="protocol-btn" (click)="openProtocol(protocol)">
        Протокол №: {{ protocol.protocol_number }},
        с дата: {{ protocol.protocol_creation_date }}
      </button>

      <!-- Show details only if this protocol is selected -->
      <div *ngIf="selectedProtocol === protocol" class="protocol-details">
        <p><strong>Дата на създаване:</strong> {{ protocol.protocol_creation_date }}</p>
        <p><strong>Дата на приключване:</strong> {{ protocol.protocol_completion_date }}</p>
        <p><strong>Анамнеза:</strong> {{ protocol.anamnesis }}</p>
        <p><strong>Клинични признаци:</strong> {{ protocol.clinical_signs }}</p>
        <p><strong>Изследвания:</strong> {{ protocol.examination }}</p>
        <p><strong>Диагноза:</strong> {{ protocol.diagnosis }}</p>
        <p><strong>Лечение:</strong> {{ protocol.treatment }}</p>
        <p><strong>Манипулации:</strong> {{ protocol.manipulations }}</p>
      </div>

    </div>
  </div>

  <div class="vaccination_and_deworming">
    <div id="vaccinations">Ваксинации:
      <div id="previous_vaccinations"></div>
      <div id="type_vaccine"></div>
      <div id="next_vaccination"></div>
    </div>

    <div id="deworming">Вътрешно обезпаразитяване:
      <div id="internal">
        <div id="previous_internal"></div>
        <div id="type_internal"></div>
        <div id="next_internal"></div>
      </div>

      <div id="external">Външно обезпаразитяване:
        <div id="previous_external"></div>
        <div id="type_external"></div>
        <div id="next_external"></div>
      </div>
    </div>
  </div>

</nv-info-modal>
