.button-idle {
  background-color  : #e8e8e8;
  padding           : 6px;
  border-radius     : 3px;
  text-align        : center;
  color             : #b1b1b1;
}

.is-selected {
  background-color  : rgba(214, 11, 82, 0.5);
  font-weight       : bold;
  color             : #000 ;
}
