<ion-header [translucent]="true">
  <nv-search-toolbar
    (onSearch)="onItemSearched($event)"
    (onFilter)="onFilter($event)">
  </nv-search-toolbar>
</ion-header>

<ion-content
  id="main-content"
  [fullscreen]="true">

  <ion-grid *ngFor="let element of imageCollection | keyvalue">

    <ion-row>
      <ion-col size="auto">
        <div style="font-size: 16px; font-weight: bold; text-transform: uppercase;">
          {{translate(element.key)}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>

      <div  (click)="selectCategory(termElement)" *ngFor="let termElement of element.value; let i = index">
        <div *ngIf="i%4===0" class="pill pill-d3e4f9"> {{termElement.id}} </div>
        <div *ngIf="i%4===1" class="pill pill-fce9ce"> {{termElement.id}} </div>
        <div *ngIf="i%4===2" class="pill pill-e7e9ee"> {{termElement.id}} </div>
        <div *ngIf="i%4===3" class="pill pill-c1ef5c"> {{termElement.id}} </div>
      </div>


    </ion-row>
  </ion-grid>


</ion-content>
