.category-circle {
  display: inline-block;
  width: 64px;
  height: 64px;
  background: #dedede;
  border-radius: 38px;
  text-align: center;
  margin: 8px
}


.pill {
  padding     : 3px 8px;
  margin      : 5px;
  border-radius: 4px;
}

.pill-d3e4f9 { background-color: #d3e4f9; }
.pill-fce9ce { background-color: #fce9ce; }
.pill-e7e9ee { background-color: #e7e9ee; }
.pill-c1ef5c { background-color: #c1ef5c; }

