<ion-header [translucent]="true">
  <nv-search-toolbar
    (onSearch)="onItemSearched($event)"
    (onFilter)="onFilter($event)">
  </nv-search-toolbar>
</ion-header>

<ion-content id="main-content" [fullscreen]="true">

  @for(element of imageCollection | keyvalue; track element) {

    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <div class="h3">
            {{translate(element.key)}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        @for(termElement of element.value; track termElement.id ; let i = $index) {

          <div (click)="selectCategory(termElement)">
            @if(i%4===0) { <div class="pill pill-d3e4f9"> {{termElement.id}} </div> }
            @if(i%4===1) { <div class="pill pill-fce9ce"> {{termElement.id}} </div> }
            @if(i%4===2) { <div class="pill pill-e7e9ee"> {{termElement.id}} </div> }
            @if(i%4===3) { <div class="pill pill-c1ef5c"> {{termElement.id}} </div> }
          </div>
        }
      </ion-row>
    </ion-grid>
  }

</ion-content>
