<ion-grid>
  <ion-row (click)="processCard()">
    <ion-col size="2">
      <div [ngClass]="['card-img', convert(object?.typeDeworming)]">
        <img style="width: 28px; margin-top: 8px;" [src]="imagePath" alt="image">
      </div>
    </ion-col>
    <ion-col size="10">
      <div style="display: flex; justify-content: space-between;">
        <div [ngClass]="inputSubTitle ? 'mt7' : 'mt14' " >{{inputTitle}}</div>
        <div [ngClass]="getClassName()" style="font-size: 11px;">{{getTitle()}}</div>
      </div>

      <div style="font-weight: bold; font-size: 12px;">{{inputSubTitle}}</div>
    </ion-col>
  </ion-row>
</ion-grid>
