<!-- App Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button size="default"  color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Кръвни групи</ion-title>
  </ion-toolbar>
</ion-header>

<!-- App Content -->
<ion-content
  id="main-content"
  [fullscreen]="true">

  <ion-grid>
    <div style="font-size: 18px; font-weight: bold; text-transform: uppercase;">
      🟥 Кучета
    </div>
    <ion-row class="mb9">
      Засега са познати 8 кръвни групи при кучето, нар. DEA (Dog Erythrocyte Antigens). <strong>DEA 1.1 </strong> (A1) се счита за най-важната кръвна група поради силната хемолитична реакция, която причинява при кръвопреливане на DEA 1.1 (-) куче.
      <img src="../../../../../../assets/pdfs/@haematology/blood-transfusion/blood-types-dog-1.png">
    </ion-row>

    <ion-row class="mb9">
      DEA 1 има два подтипа: DEA 1.1 и DEA 1.2. Усложнения след кръвопреливане при другите кръвни групи рядко се наблюдава. За определяне на кръвната група засега са създадени тестове само за DEA 1, DEA 3, DEA 4, и DEA 7. Кучетата са или позитивни, или негативни за дадена кръвна група с изключение при DEA 1, където кучетата се класифицират като DEA 1.1+ или DEA 1.1- и тези DEA 1.1- може да са DEA 1.2+ или DEA 1.2-.
    </ion-row>

    <ion-row class="mb9">
      <div class="mb9">Бърз тест за кръвна група DEA 1.</div>
      <img src="../../../../../../assets/pdfs/@haematology/blood-transfusion/dea-1-intensity-test.png" class="mb9">
      <div class="mb9">Интензитета е означен с (-) до (4+), като (-) е отрицателен резултат.</div>
    </ion-row>

    <ion-row class="mb9">
      <div class="mb9">Бърз тест за кръвна група DEA 4 и DEA 5.</div>
      <img src="../../../../../../assets/pdfs/@haematology/blood-transfusion/dea-4-5.png" class="mb9">
      <div class="mb9">(А) Определяне степента на аглутинация от (-) до (4+).</div>
      <div class="mb9">(B) и (C) показват слаба аглутинация за кръвни групи DEA 4 и DEA 5.</div>
      <img src="../../../../../../assets/pdfs/@haematology/blood-transfusion/canine-blood-type-kit-1.png" class="mb9">
    </ion-row>

    <ion-row class="mb9">
      <strong>Kai 1 и Kai 2</strong> – самостоятелна система за кръвни групи, различна от гореспоменатите. Едно куче може да е положително само за Kai 1 или само за Kai 2. Kai 1- и Kai 2- са кръвни групи, които могат да предизвикат образуването на анти Kai 1 и анти Kai 2 алоантитела, когато Kai 1- и/или Kai 2- кучета се кръвопрелеят с Kai 1+ или Kai 2+ кръв.
    </ion-row>

    <ion-row class="mb9">
      Бременността при кучетата не води до образуването на алоантитела поради анатомията на плацентата, която не пропуска протеини.
    </ion-row>
  </ion-grid>

  <ion-grid>
    <div style="font-size: 18px; font-weight: bold; text-transform: uppercase;">
      🟥 Котки
    </div>
    <ion-row class="mb9">
      При котките има три кръвни групи.
      <img src="../../../../../../assets/pdfs/@haematology/blood-transfusion/blood-types-cat-1.png" class="mb9">
    </ion-row>
    <ion-row class="mb9">
      <img src="../../../../../../assets/pdfs/@haematology/blood-transfusion/blood-types-cat-2.png" class="mb9">
    </ion-row>
    <ion-row class="mb9">
      <img src="../../../../../../assets/pdfs/@haematology/blood-transfusion/blood-types-cat-3.png" class="mb9">
    </ion-row>
    <ion-row class="mb9">
      Има и допълнителни кръвни групи, които се нар. „Mik red cell antigen“ при късокосместите котки. Mik (-) котки може да образуват алоантитела.
    </ion-row>
    <ion-row class="mb9">
      <img src="../../../../../../assets/pdfs/@haematology/blood-transfusion/feline-blood-type-kit-1.png" class="mb9">
    </ion-row>
  </ion-grid>

</ion-content>
