<!-- App Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button size="default"  color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ехограф</ion-title>
  </ion-toolbar>
</ion-header>

<!-- App Content -->
<ion-content
  class="ion-padding"
  [fullscreen]="true">

  <ion-item>Изчисляване на максималните размери на простатата при кучета</ion-item>

  <ion-input [(ngModel)]="age" [placeholder]="'Възраст'">Възраст (години)</ion-input>
  <ion-input [(ngModel)]="weight" [placeholder]="'Килограми'">Тегло (кг)</ion-input>
  <ion-button (click)="processCalculation()">Калкулирай</ion-button>

  <table style="margin-top: 36px;">
    <tr>
      <td>Дължина = </td>
      <td>{{L}} см</td>
    </tr>
    <tr>
      <td>Ширина = </td>
      <td>{{W}} см</td>
    </tr>
    <tr>
      <td>Височина (сагитално) = </td>
      <td>{{Hsag}} см</td>
    </tr>
    <tr>
      <td>Височина (трансверзално) = </td>
      <td>{{Htr}} см</td>
    </tr>
    <tr>
      <td>Обем = </td>
      <td>{{V}}</td>
    </tr>
  </table>

</ion-content>
