<nv-info-modal [inputTitle]="selectedDrug.symptom" class="ion-page">

  @for( groupElement of selectedDrug.causes; track groupElement) {

    <div>
      <div class="h2 m-gap1">
        {{groupElement.group}}
      </div>

      @if(groupElement.children) {

        <div>

          @for(childElement of groupElement.children; track childElement) {

            <div>
              <div class="mt5">
                {{childElement.title}}
              </div>

              @if(childElement.children) {

                <ul style="margin-left: -21px;">
                  @for(childElement2 of childElement.children; track childElement2) {
                    <li>{{childElement2.title}}</li>
                  }
                </ul>
              }
            </div>
          }

        </div>
      }
    </div>
  }

  @for( element of selectedDrug.links; track element) {
    <nv-link-button
      [inputTitle]="element.title"
      (onClick)="onOpenPdfDocument(element.link)">
    </nv-link-button>
  }

</nv-info-modal>
