<!-- App Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button size="default"  color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Кръвопреливане - начин</ion-title>
  </ion-toolbar>
</ion-header>

<!-- App Content -->
<ion-content
  id="main-content"
  [fullscreen]="true">

  <ion-grid>
    <div style="font-size: 18px; font-weight: bold; text-transform: uppercase;">
      🟥 Изисквания за донора:
    </div>

    <ion-row>
      <img src="../../../../../../assets/pdfs/@haematology/blood-transfusion/donor-requirements.png" class="mb9">
    </ion-row>
    <ion-row>
      <ul>Донорът се изследва:
        <li>Тест за съвместимост</li>
        <li>ПКК и биохимични заболявания</li>
        <li>CaniV-4 тест (куче)</li>
        <li>FIV/ FeLV тест (котка)</li>
      </ul>
    </ion-row>
    <ion-row>
      <div style="font-weight: bold;">Тест за съвместимост (Compatability test)</div>
      <img src="../../../../../../assets/pdfs/@haematology/blood-transfusion/compatability-test.png" class="mb9">

      <ol>Алгоритъм:
        <li>Вземи кръв чрез ЕДТА епруветка от донора и от реципиента. Надпиши епруветките.</li>
        <li>Центрофугирай двете проби и отдели плазмата от еритроците. Надпиши епруветките.</li>
        <li>Вземи три предметни стъкла и ги надпиши: „голям“, „второстепенен“, „контрола“.</li>
        <li>Сложи една капка от еритроцитите и две капки от плазмата на всяко предметно стъкло:</li>
        <ol>
          <li>Голям – донор Ер + реципиент плазма</li>
          <li>Малък – реципиент Ер + донор плазма</li>
          <li>Контрола: реципиент Ер + реципиент плазма</li>
        </ol>
        <li>Инкубирай за 2 минути на стайна температура.</li>
        <li>Виж дали има аглутинация не само макроскопски, но и микроскопски.</li>
      </ol>
    </ion-row>
    <ion-row>
      Освен лабораторния тест за съвместимост съществуват и DG Gel и DiaMed-ID.
      <div>Главен кросмач (кръстосана съвместимост) – алоантитела от плазмата на реципиента атакуват клетките на донора. Кръвопреливането не трябва да се извърши!</div>
      <div>Второстепенен кросмач (кръстосана съвместимост) – алоантитела от плазмата на донора атакуват клетките на реципиента. При второстепенен кросмач при кучетата може да се кръвопрелеят еритроцитите на донора, но не и серума. При второстепенен кросмач при котки кръвопреливането не трябва да се извърши!</div>
      <div>Второстепенния кросмач не се появява при кучетата донори, които не са били кръвопреливани преди и не е от голямо значение, защото плазмата на донора е малка и ще се разреди в тази на реципиента.</div>
      <div>Главният и второстепенният кросмач могат да покажат несъвместимост преди всяко кръвопреливане заради наличието на естествени алоантитела при котки, нe само при кръвна група AB, но и при Mik.</div>
      <div>При котките е дсотатъчно капка кръв от реципиента да се смеси с капка кръв от донора.</div>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <div style="font-size: 18px; font-weight: bold; text-transform: uppercase;">
      🟥 Нужни материали:
    </div>
    <ion-row>
      <ul>
        <li>CPDA банка за кръв</li>
        <li>Кръвопреливна система с филтър (най-добре е да е 170 мк)</li>
        <li>Абокат</li>
        <li>При котките: 20 мл спринцовка със сива игла.</li>
      </ul>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <div style="font-size: 18px; font-weight: bold; text-transform: uppercase;">
      🟥 Взимане на кръв от донора:
    </div>
    <ion-row>
      <ol>При кучета:
        <li>Кучето се поставя на висока маса.</li>
        <li>Поставя се абокат на v. cephalica.</li>
        <li>Свързва се CPDA банката с абоката.</li>
        <li>Човек държи банката, като я върти бавно и внимателно близо до пода до масата.</li>
        <li>От кучета над 23 кг може да се вземе 450 мл кръв.</li>
      </ol>

      <ol>При котки:
        <li>Предварително чрез 20 мл спринцовка се изтегля 3,5 мл хепарин (на 20 мл се пада 3,5 мл хепарин Провет, а в статия – 1 мл 3,8% цитрат на всеки 9 мл кръв).</li>
        <li>Котката се фиксира в поза сфинкс.</li>
        <li>Кръвта се взима със сива игла от v. jugularis.</li>
        <li>От котки над 4 кг може да се вземе 40 мл кръв.</li>
      </ol>
    </ion-row>
    <ion-row>
      Кръв, взета чрез спринцовка, се използва до 48-ия час, тъй като това е отворена система.
    </ion-row>
    <ion-row>
      Ако на всеки 4 седмици се взима кръв от донора, то трябва да се дава два пъти седмично железен сулфат (10 мг/кг).
    </ion-row>
    <ion-row>
      Кръвните продукти се приготвят чрез центрофуга през първите 8 часа от взимането на кръвта. Кръвните продукти се стоплят на топла баня (37°C). Кръвните продукти, които се затоплят на стайна температура, не трябва отново да се замразяват/ охлаждат.
    </ion-row>
  </ion-grid>


  <ion-grid>
    <div style="font-size: 18px; font-weight: bold; text-transform: uppercase;">
      🟥 Кръвопреливане:
    </div>

    <ion-row>
      <ul>На реципиента се инжектира:
        <li>Нолпаза</li>
        <li>Дексаметазон</li>
        <li>Антихистамини</li>
      </ul>
    </ion-row>
    <ion-row>
      През първите 5 минути се вливат 1-3 мл. През първите 15 мин се наблюдава за нежелани реакции от кръвопреливането. Кръвопреливането трябва да приключи за 4 часа.
    </ion-row>
    <ion-row>
      Две формули:
      <div>Обем на прелятата кръв (мл) = 2 * Hct (желаното увеличение, %) * тегло на ЖВ (кг)</div>
      <div>(т. е. на всеки 2 мл цяла кръв/ кг тегло хематокрита се повишава с 1%.)</div>
      <div>Целим да достигнем хематокрит 25-35%.</div>
      <div>VT (мл) = тегло (кг) * обем на цялата кръв на ЖВ (90 мл/кг) * [ (желан Hct – Hct на реципиента) / Hct на донора]</div>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <div style="font-size: 18px; font-weight: bold; text-transform: uppercase;">
      🟥 Кръвни продукти:
    </div>
    <ion-row>
      <img src="../../../../../../assets/pdfs/@haematology/blood-transfusion/blood-products-1.png" class="mb9">
      <img src="../../../../../../assets/pdfs/@haematology/blood-transfusion/blood-products-2.png" class="mb9">
      <img src="../../../../../../assets/pdfs/@haematology/blood-transfusion/transfusion-indications.png" class="mb9">
    </ion-row>
  </ion-grid>

</ion-content>
