<!-- App Header -->
<ion-header>
  <nv-search-toolbar
    (onSearch)="onItemSearched($event)"
    (onFilter)="onFilter($event)">
  </nv-search-toolbar>
</ion-header>

<!-- App Content -->
<ion-content
  id="main-content"
  [fullscreen]="true">

  <div style="margin: 5px 15px;">
    <nv-link-button
    [inputTitle]="'Принципи на обезпаразитяване'"
    (onClick)="onOpenPdfDocument('assets/pdfs/@deworming/deworming-method.pdf')">
    </nv-link-button>
  </div>



  @for(element of $collection; track element) {
    <dc-card-deworming
      [inputTitle]="element.title"
      [inputSubTitle]="element?.activeSubstance.join(', ')"
      [object]="element"
      (onSelectCard)="onSelectCard($event)">
    </dc-card-deworming>
  }

</ion-content>
