<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="order">
      <ion-icon size="small"  aria-hidden="true" name="bookmark-outline"></ion-icon>
      <ion-label>Ред</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="measurements">
      <ion-icon size="small" aria-hidden="true" name="bookmark-outline"></ion-icon>
      <ion-label>Размери</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pregnancy">
      <ion-icon size="small" aria-hidden="true" name="bookmark-outline"></ion-icon>
      <ion-label>Бременност</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prostate">
      <ion-icon size="small"  aria-hidden="true" name="bookmark-outline"></ion-icon>
      <ion-label>Простата</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
