ion-input.custom {
  --color: #d60b52;
  --placeholder-color: #000;
  --placeholder-opacity: 0.8;

  --padding-bottom: 8px;
  --padding-end: 8px;
  --padding-start: 8px;
  --padding-top: 8px;
  margin-top: 14px;
  text-align: center;

  border: solid #dedede 1px;
  border-radius: 5px;
}

ion-input.custom .helper-text,
ion-input.custom .counter {
  color: var(--ion-color-step-700, #373737);
}

ion-radio::part(container) {

  width         : 30px;
  height        : 30px;
  border-radius : 8px;
  border        : 2px solid #ddd;
}

ion-radio::part(mark) {
  background    : none;
  transition    : none;
  transform     : none;
  border-radius : 0;
}

ion-radio.radio-checked::part(container) {
  background    : #6815ec;
  border-color  : transparent;
}

ion-radio.radio-checked::part(mark) {

  width         : 6px;
  height        : 10px;
  border-width  : 0px 2px 2px 0px;
  border-style  : solid;
  border-color  : #fff;
  transform     : rotate(45deg);
}
