<ion-header [translucent]="true">
  <nv-search-toolbar
    (onSearch)="onItemSearched($event)"
    (onFilter)="onFilter($event)">
  </nv-search-toolbar>
</ion-header>

<ion-content
  id="main-content"
  [fullscreen]="true">

  @for(element of imageCollection | keyvalue; track element) {

    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <div class="h3">
            {{translate(element.key)}}
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        @for(termElement of element.value; track termElement.id ; let i = $index) {

          <div (click)="selectCategory(termElement)">
            @if(i%4===0) { <div class="pill bc-lightblue"  > {{termElement.id}} </div> }
            @if(i%4===1) { <div class="pill bc-orange"> {{termElement.id}} </div> }
            @if(i%4===2) { <div class="pill bc-purple"  > {{termElement.id}} </div> }
            @if(i%4===3) { <div class="pill bc-pink" > {{termElement.id}} </div> }
          </div>
        }
      </ion-row>
    </ion-grid>
  }

  <ion-grid>
    <ion-row>
      <strong>Тълкуване на ПКК</strong>
    </ion-row>
    <ion-row>
      <img src="/assets/pdfs/@haematology/haemogram/haemogram-wbc.png">
    </ion-row>
    <ion-row>
      <img src="/assets/pdfs/@haematology/haemogram/haemogram-er-mass.png">
    </ion-row>
    <ion-row>
      <img src="/assets/pdfs/@haematology/haemogram/haemogram-er-char.png">
    </ion-row>
    <ion-row>
      <img src="/assets/pdfs/@haematology/haemogram/haemogram-plt.png">
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <img src="/assets/pdfs/@haematology/haemogram/leukogram-alterations.png">
    </ion-row>
  </ion-grid>

</ion-content>
