.category-circle {
  display      : inline-block;
  width        : 64px;
  height       : 64px;
  background   : #dedede;
  border-radius: 38px;
  text-align   : center;
  margin       : 8px
}

.is-active {
  color: #6bbe6f;
}


.pill {
  padding       : 3px 8px;
  margin        : 5px;
  border-radius : 4px;
}
