.category-circle {
  display      : inline-block;
  width        : 64px;
  height       : 64px;
  //background   : #dedede;
  background: #b0b0b073;
  border-radius: 38px;
  text-align   : center;
  margin       : 8px
}
