<!-- Header component -->
<ion-header
  [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Ретикулоцити
    </ion-title>

    <ion-buttons slot="end" style="margin-right: 10px;">
      <ion-icon  (click)="clearAllValues()" name="trash-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- Main content -->
<ion-content id="main-content" [fullscreen]="true">

  <!-- МЕТОД -->
  <ion-grid>
    <ion-row style="border-bottom: solid #dedede 1px; padding-bottom: 8px; margin-top: 20px;">
      <div style="font-size: 18px; font-weight: bold;">
        🟥 Метод
      </div>
    </ion-row>

    <ion-row>
      1. Взимане на кръв - в епруветка с ЕДТА.
    </ion-row>
    <ion-row>
      2. Оцветяване - 100 микролитра се взимат от кръвта с ЕДТА и се сипват в епруветка за биохимия. 100 микролитра се взимат от Brilliant cresyl blue solution и се слагат в епруветката за биохимия. Разбърква се добре и внимателно. Оставя се да престои 15-20 минути.
    </ion-row>
    <ion-row>
      3. Броене на ретикулоцити - Броят се тези еритроцити, които имат най-малко две сини точки вътре в тях. Изброяват се поне 1000 еритроцита и след това се изчислява колко ретикулоцита има в тези  1000 еритроцита. Средно на едно поле има 200-300 еритроцита. Диференциране на ретикулоцитите от други червени клетки с включения - Pappenheimer bodies, Hemoglobin H, Heinz bodies.
    </ion-row>
    <ion-row>
      <img src="../../../../../assets/pdfs/@haematology/reticulocyte-count/reticulocyte-count-method.png">
    </ion-row>
    <ion-row>
      4. Изчисляване - по формулата:
      <div>
        Коригиран брой на ретикулоцитите, RPI (%) = хематокрита на пациента (Hct)/нормална стойност на хематокрита х брой на ретикулоцитите (%)
      </div>
    </ion-row>
  </ion-grid>


<!-- ФОРМУЛА НОВА -->
  <ion-grid>
    <ion-row style="border-bottom: solid #dedede 1px; padding-bottom: 8px; margin-top: 20px;">
      <div style="font-size: 18px; font-weight: bold;">
        🟥 Формула
      </div>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <div class="mt20 ml8">
          Брой ретикулоцити на 100 броя еритроцити:
        </div>
      </ion-col>

      <ion-col size="8"  style="display: flex;">
        <ion-input
          [counter]="true"
          [(ngModel)]="$formProperty.reticulocyteCount"
          type="number"
          aria-label="Custom input"
          class="custom"
          placeholder="">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <div class="mt20 ml8">
          Ретикулоцити (%) =
        </div>
      </ion-col>

      <ion-col size="8"  style="display: flex;">
        <ion-input
          [counter]="true"
          [(ngModel)]="$formProperty.reticulocytePercent"
          type="number"
          aria-label="Custom input"
          class="custom"
          placeholder="">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <div class="mt20 ml8">
          хематокрита на пациента =
        </div>
      </ion-col>

      <ion-col size="8"  style="display: flex;">
        <ion-input
          [counter]="true"
          [(ngModel)]="$formProperty.patientHct"
          type="number"
          aria-label="Custom input"
          class="custom"
          placeholder="">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <div class="mt20 ml8">
          нормална стойност на хематокрита =
        </div>
      </ion-col>

      <ion-col size="8"  style="display: flex;">
        <ion-input
          [counter]="true"
          [(ngModel)]="$formProperty.normalRangeHct"
          type="number"
          aria-label="Custom input"
          class="custom"
          placeholder="">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="processCalculationRPI()"
          size="default"
          expand="block">Изчисли
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>




  <!-- ФОРМУЛА -->
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div class="mt20 ml8">
          тегло
        </div>
      </ion-col>

      <ion-col size="8"  style="display: flex;">
        <ion-input
          [counter]="true"
          [(ngModel)]="$formProperty.patientWeight"
          type="number"
          aria-label="Custom input"
          class="custom"
          placeholder="кг">
        </ion-input>
        <div style="width: 63px; margin-left: 10px; margin-top: 26px;">кг</div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="4">
        <div class="mt20 ml8">
          доза
        </div>
      </ion-col>

      <ion-col size="8"  style="display: flex;">
        <ion-input
          [counter]="true"
          [(ngModel)]="$formProperty.dosage"
          type="number"
          aria-label="Custom input"
          class="custom"
          placeholder="15-50 мг/кг">
        </ion-input>
        <div style="width: 63px; margin-left: 10px; margin-top: 26px;">мг/кг</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <div class="ml8">
          Начин на приложение:
        </div>
      </ion-col>

      <ion-col size="8"  class="flex">
        <div class="mr16">IV</div>
        <ion-toggle
          [(ngModel)]="$formProperty.InjectionRoute"
          [checked]="false"
          (ionChange)="selectInjectionRoute($event)">
        </ion-toggle>
        <div class="ml16">IM</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <div class="ml8">
          Аз имам:
        </div>
      </ion-col>

      <ion-col size="8"  class="flex">
        <div class="mr16">1 г</div>
        <ion-toggle
          [(ngModel)]="$formProperty.CeftriaxoneConcentration"
          [checked]="false"
          (ionChange)="selectCeftriaxoneConcentration($event)">
        </ion-toggle>
        <div class="ml16">2 г</div>
        <div class="ml8 italic">Цефтриаксон прах за инж. р-р</div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="processCalculationCeftriaxoneConcentration()"
          size="default"
          expand="block">Изчисли
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  @if($formProperty.injectionRoute === 'IV') {
    <div class="mt20 ml8 mr8" style="padding: 5px;">
      Добавям <strong>5 мл</strong> физиологичен р-р в Цефтриаксон прах.
    </div>
    <div class="ml8">
      Концентрацията на този разтвор става: <strong>{{$ui.concentrationResultIv}}</strong> мг/мл.
    </div>
    <div class="ml8">
      Доза на ЖВ: <strong>{{$ui.animalDose}}</strong> мг
    </div>
    <div class="ml8">
      Взимам от р-ра с цефтриаксона: <strong>{{$ui.mlNeeded}}</strong> мл.
    </div>
    <div class="ml8">
      И ги слагам в 100 мл банка физ. р-р, като трябва да се изтече цялата банка за малко над 30 мин.
    </div>
    <div class="ml8">
      Или го слагам ИВ бавно през абоката, като внимавам ЖВ да не повърне!
    </div>
  }


@if($formProperty.injectionRoute === 'IM') {
  <div class="mt20 ml8 mr8" style="padding: 5px;">
    Добавям <strong>4 мл</strong> лидокаин инж. 1%-ов р-р в Цефтриаксон прах.
  </div>
  <div class="ml8">
    Концентрацията на този разтвор става: <strong>{{$ui.concentrationResultIm}}</strong> мг/мл.
  </div>
  <div class="ml8">
    Доза на ЖВ: <strong>{{$ui.animalDoseIm}}</strong> мг
  </div>
  <div class="ml8">
    Взимам от р-ра с цефтриаксона: <strong>{{$ui.mlNeededIm}}</strong> мл.
  </div>
  <div class="ml8">
    И го слагам ИМ. ВНИМАНИЕ! Болезнено!
  </div>
}

</ion-content>
