<!-- Header component -->
<ion-header
  [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Ретикулоцити
    </ion-title>

    <ion-buttons slot="end" style="margin-right: 10px;">
      <ion-icon  (click)="clearAllValues()" name="trash-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- Main content -->
<ion-content id="main-content" [fullscreen]="true">

  <!-- МЕТОД -->
  <ion-grid>
    <ion-row style="border-bottom: solid #dedede 1px; padding-bottom: 8px; margin-top: 20px;">
      <div style="font-size: 18px; font-weight: bold;">
        🟥 Метод
      </div>
    </ion-row>

    <ion-row>
      1. Взимане на кръв - в епруветка с ЕДТА.
    </ion-row>
    <ion-row>
      2. Оцветяване - 100 микролитра се взимат от кръвта с ЕДТА и се сипват в епруветка за биохимия. 100 микролитра се взимат от Brilliant cresyl blue solution и се слагат в епруветката за биохимия. Разбърква се добре и внимателно. Оставя се да престои 15-30 минути.
    </ion-row>
    <ion-row>
      3. Броене на ретикулоцити - Броят се тези еритроцити, които имат най-малко две сини точки вътре в тях. Изброяват се поне 1000 еритроцита и след това се изчислява колко ретикулоцита има в тези  1000 еритроцита. Средно на едно поле има 200-300 еритроцита. Диференциране на ретикулоцитите от други червени клетки с включения - Pappenheimer bodies, Hemoglobin H, Heinz bodies.
    </ion-row>
    <ion-row>
      <img src="../../../../../assets/pdfs/@haematology/reticulocyte-count/reticulocyte-count-method.png">
    </ion-row>
    <ion-row>
      4. Изчисляване - по формулата:
      <div>
        Коригиран брой на ретикулоцитите, RPI (%) = хематокрита на пациента (Hct)/нормална стойност на хематокрита х брой на ретикулоцитите (%)
      </div>
    </ion-row>
  </ion-grid>


<!-- ФОРМУЛА НОВА -->
  <ion-grid>
    <ion-row style="border-bottom: solid #dedede 1px; padding-bottom: 8px; margin-top: 20px;">
      <div style="font-size: 18px; font-weight: bold;">
        🟥 Формула
      </div>
    </ion-row>

    <ion-row>
      <ion-col size="5">
        Животно
      </ion-col>

      <ion-col size="7"  style="display: flex;">
        <div style="margin-top: 5px; margin-right: 25px;">куче</div>
        <ion-toggle
          [checked]="false"
          (ionChange)="selectAnimalType($event)">
        </ion-toggle>
        <div style="margin-top: 5px; margin-left: 25px;">котка</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">
        Брой еритроцити:
      </ion-col>
      <ion-col size="4">
        <ion-button
          (click)="incrementErythrocyteCounter()"
          size="default"
          expand="block"> {{ this.$formProperty.erythrocyteCounter }}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">
        Брой ретикулоцити:
      </ion-col>
      <ion-col size="4">
        <ion-button
          (click)="incrementReticulocyteCounter()"
          size="default"
          expand="block"> {{ this.$formProperty.reticulocyteCounter }}
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="9">
        <div class="mt20 ml8">
          Брой ретикулоцити на 100 броя еритроцити:
        </div>
      </ion-col>

      <ion-col size="3" style="display: flex;">
        <ion-input
          [counter]="true"
          [(ngModel)]="$formProperty.reticulocyteCount"
          type="number"
          aria-label="Custom input"
          class="custom"
          placeholder="">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="9">
        <div class="mt20 ml8">
          Брой еритроцити на пациента (10^12/L) =
        </div>
      </ion-col>

      <ion-col size="3" style="display: flex;">
        <ion-input
          [counter]="true"
          [(ngModel)]="$formProperty.absoluteErythrocyteCount"
          type="number"
          aria-label="Custom input"
          class="custom"
          placeholder="">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="9">
        <div class="mt20 ml8">
          хематокрита на пациента (%) =
        </div>
      </ion-col>

      <ion-col size="3" style="display: flex;">
        <ion-input
          [counter]="true"
          [(ngModel)]="$formProperty.patientHct"
          type="number"
          aria-label="Custom input"
          class="custom"
          placeholder="">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="9">
        <div class="mt20 ml8">
          нормална стойност на хематокрита (%) =
        </div>
      </ion-col>

      <ion-col size="3" style="display: flex;">
        <ion-input
          [counter]="true"
          [(ngModel)]="$formProperty.normalRangeHct"
          type="number"
          aria-label="Custom input"
          class="custom"
          placeholder="">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="processCalculationRPI(); calculateLifespan()"
          size="default"
          expand="block">Изчисли
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <div class="ml8 mt8">
      Абсолютен брой ретикулоцити: <strong>{{this.$ui.absoluteReticulocyteCount}}</strong> x 10^9/L.
    </div>

    <div class="ml8 mt8">
      Според абсолютния брой ретикулоцити, анемията се определя като: <strong>{{ this.$ui.degreeOfRegeneration }}</strong>.
    </div>

    <div class="ml8 mt8">
      correctedReticulocytePercentage: <strong>{{this.$ui.correctedReticulocytePercentage}}</strong>
    </div>

    <div class="ml8 mt8">
      Type Of Anemia: <strong>{{ this.$ui.typeOfAnemia }}</strong>
    </div>

    <div class="ml8 mt8">
      Reticulocyte Lifespan: {{ this.reticulocyteLifespan }}
    </div>
    <div class="ml8 mt8 mb20">
      Reticulocyte production index: {{ this.$ui.reticulocyteProductionIndex }} (Values greater than 1.0 indicate increased production in response to anemia.)
    </div>
  </ion-grid>



</ion-content>
