.medical_record {
  position: fixed;
  width: 320px;
  border-right: solid 3px #3880ff;
}

.protocols, .vaccination_and_deworming {
  margin-left: 320px;
}

.protocol-btn {
  background-color: #3880ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.protocol-details {
  // background: #f8f8f8;
  padding: 10px;
  border-left: 4px solid #3880ff;
  margin-top: 5px;
}

.component-header {
  font-weight   : bold;
  margin-top    : 10px;
  margin-bottom : 10px;
}

.component-content {
  border        : solid #dedede 1px;
  border-radius : 3px;
}

.large-button {
  display: flex;
  //background-color: #eafff3;
  background-color: #59f59b57;
  padding: 10px;
  border: solid 1px #dedede;
  border-radius: 5px;
  margin-top: 10px;
}


.pill-green {

  display       : inline-block;
  padding       : 2px 4px;
  margin-top    : 4px;

  border        : solid #60dba3 1px;

  font-size     : 12px;
  font-weight   : bold;
  //background    : #eafff3;
  background    : #59f59b57;
  color         : #60dba3;
  border-radius : 2px;
}
