<div
  class="mt16 card"
  (click)="processCard()">

  <!-- ROW -->
  <div
    class="ml8">
    <div class="card-title">
      {{ $uiProperty.title }}
    </div>

    <div style="font-size: 12px;">
      {{ $uiProperty.activeSubstance }}, доза: {{ $uiProperty.activeSubstanceDose }} {{ $uiProperty.activeSubstanceDecorator }}
    </div>
  </div>

  <!-- ROW -->
  <div
    class="ml8" style="display: flex; margin-left: auto; justify-content: flex-end; flex-direction: column;">

    <div
      class="ml8 mt16" style="display: flex; margin-right: 16px;">
      <div style="padding: 5px; width: 160px;">
        Доза на ЖВ:
      </div>

      <div style="padding: 5px; margin-right: 16px;">
        <img src="./assets/imgs/arrow.png">
      </div>

      <div style="background: #4b8ffa; color: #fff; padding: 5px 5px;">
        {{ $uiProperty.patientDose }} мг
      </div>
    </div>

    <div
      class="ml8 mt16" style="display: flex; margin-right: 16px;">
      <div style="padding: 5px; width: 160px;">
        Нужно кол-во лекарство:
      </div>

      <div style="padding: 5px; margin-right: 16px;">
        <img src="./assets/imgs/arrow.png">
      </div>

      <div style="background: #d60b52; color: #fff; padding: 5px 5px;">
        {{ $uiProperty.drugDose }} мл или табл
      </div>
    </div>

    <!-- ROW -->
    <div
      class="ml8 mt16" style="display: flex;  margin-right: 16px; border-top: solid #dedede 2px;">

      <div style="padding: 5px; margin-top: 6px;">
        Как се поставя: {{ $uiProperty.applicationMethod }}
      </div>
    </div>


  </div>

</div>
