.card {
  cursor        : pointer;
  background    : #249ea057;
  padding       : 8px;
  border-radius : 6px;
}

.card-logo {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: #dedede;
  border-radius: 28px;
  text-align: center;
}

.card-title {
  font-weight: bold; color: #35a8d8cc
}
