/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.h1 { font-size: 20px; font-weight: bold; }
.h2 { font-size: 18px; font-weight: bold; }
.h3 { font-size: 16px; font-weight: bold; text-transform: uppercase; }
.h4 { font-size: 14px; font-weight: bold; }

.c-success { color: #6bbe6f   }
.c-fail    { color: #d60b52   }
.c-blue    { color: #356cfe   }

.flex { display :  flex; }


.pill-green {

  display       : inline-block;
  padding       : 2px 4px;
  margin-top    : 4px;

  border        : solid #60dba3 1px;

  font-size     : 12px;
  font-weight   : bold;
  background    : #eafff3;
  color         : #60dba3;
  border-radius : 2px;
}

.mt5   { margin-top  : 5px;  }
.mt6   { margin-top  : 6px;  }
.mt7   { margin-top  : 7px;  }
.mt8   { margin-top  : 8px;  }
.mt9   { margin-top  : 9px;  }
.mt10  { margin-top  : 10px; }
.mt14  { margin-top  : 14px; }
.mt16  { margin-top  : 16px; }
.mt20  { margin-top  : 20px; }
.mt25  { margin-top  : 25px; }
.mt32  { margin-top  : 32px; }
.mt64  { margin-top  : 64px; }

.ml8   { margin-left : 8px;  }
.ml16  { margin-left : 16px; }

.mr5   { margin-right  : 5px;  }
.mr6   { margin-right  : 6px;  }
.mr7   { margin-right  : 7px;  }
.mr8   { margin-right  : 8px;  }
.mr9   { margin-right  : 9px;  }
.mr10  { margin-right  : 10px; }
.mr14  { margin-right  : 14px; }
.mr16  { margin-right  : 16px; }
.mr32  { margin-right  : 32px; }
.mr64  { margin-right  : 64px; }

.m-gap1 { margin-top: 8px; margin-bottom: 8px; }
.m-gap2 { margin-top: 16px; margin-bottom: 16px; }


.is-selected {
  background : rgba(214,11,82, 0.5)!important;
}

ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h {
  padding-top: 11px!important;
}

ion-menu-button {
  font-size: 22px!important;
  margin-left: 5px!important;
}
